<ion-header>

  <ion-toolbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-card (click)="openItem(item)" *ngFor="let item of currentItems">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-avatar>
      <img [src]="item.profilePic" />
    </ion-avatar>
    <ion-card-content>
      {{ item.about }}
    </ion-card-content>
    <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
  </ion-card>
</ion-content>